@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: $pink-bg-color;
  color: $dark-text-color;
}

a { text-decoration: none; }

h1,
h2,
h3,
h4 {
  letter-spacing: $spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 { font-size: 3rem; }

h2 { font-size: 2rem; }

h3 { font-size: 1.25rem; }

h4 { font-size: 0.875rem; }

p {
  margin-bottom: 1.25rem;
  color: $clr-grey-5;
}

.section {
  width: 90vw;
  margin: 0 auto;
  max-width: $max-width;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90vw;
  margin: 5rem 0;
  max-width: $fixed-width;
  background: $white-color;
  border-radius: $radius;
  padding: 1.5rem 2rem;
  box-shadow: $dark-shadow;
}
